
#img-col{
  text-align: center;
}


#logo{
  max-height: 50px;
}

.container-main{
  padding-top: 2vh;
}

.blockquote{
  margin-top: 10vh;
}

#about{
  margin-top: 5vh;
}


#photo{
  max-height: 40vh;
  min-height: 300px;
  margin-bottom: 2vh;

}